*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(252, 241, 243);
    box-sizing: border-box;
}

/* home styles starts */

.home-bar{
    display: flex;
    background-color: #2D25A0;
}

.intro-text{
    font-size: 2em;
    padding: 10%;
    color: white;
}
.intro-picture img{
    height: 100%;
    width: 50%;
    float: right;
    margin-right: 60px;
    animation-name: home-animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

@keyframes home-animation{
    25%{
        transform: rotate(25deg);
    }

    50%{
        transform: rotate(60deg);
    }

    100%{
        transform: rotate(90deg);
    }

}


.watch-live{
    text-decoration: none;
    color: white;
    border: 2px solid #ec3477;
    background-color: #db296a;
    margin-top: 100px;
    margin-bottom: 200px;
}

/* home styles ends */

/* player styles starts */


.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.player{
    margin-top: 20%;
    border: 6px solid #ffffff;
    height: 100%;
    width: 80%;
    box-shadow: 10px 20px 100px #ffffff;
    background-color: #736fa8;
    animation-name: player-animation;
    animation-duration: 4s;
    animation-delay: 0s;
}

.player img{
    width: 60%;
    margin-left: 20%;
}

.player-title{
    text-align: center;
}

.player-button{
    margin-left: 160px;
    margin-top: 40px;
    padding: 10px 30px;
    background-image: linear-gradient(tomato, salmon);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/* player styles ends */

/* news styles added */

.newses{
    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.news{
    border: 4px solid orangered;
    height: 100%;
    width: 100%;
    background-color: #ffefef;
}

.news img{
    width: 50%;
    margin-left: 20%;
}

.news button{
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(orange, red);
    border-radius: 10px;
    border: none;
    outline: none;
}

.news button:hover{
    box-shadow: 40px 40px 100px orange;
    height: 40px;
}

/* news styles ends */

/* footer styles starts */

.footer img{
    height: 200px;
    margin-left: 500px;
    margin-top: 60px;
    
}



.social-icon img{
    height: 150px;
    margin-left: 500px;
}

@keyframes player-animation{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}





/* media query starts here */

@media only screen and (max-width: 688px) {

    .home-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .intro-picture img{
        width: 100%;
        max-width: 400px;
        height: auto;
        position: relative;
    }

    .player-button{
        margin-left: 50px;
    }

    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 30%;
        grid-gap: 30px;
    }

    .newses{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .footer img{
        height: 50px;
        margin-left: 170px;
        margin-top: 60px;
    }

}